
h1{
	text-align:center;
	color:#85091E;
	font-family: 'Montez', cursive;
}

.option-area {
	width: 700px ;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	background-color: #CFD3D4;
	text-align:center;
}

#programType{
	margin-right:20px;
}

.button{
	text-align:center;
	margin:auto;
}

#search{
	margin-top:15px;
	background-color:#85091E;
}



.scholarship{
	content:url("Logos/acm - color.png");
}

.high-school .scholarship{
	content:url("Logos/acm - color.png");
}


.aci{
	content:url("Logos/aci - color.png");
	display: inline;
	float:left;
}

.acm {
	content:url("Logos/acm - color.png");
	display: inline;
	float:left;
}

.afe {
	content:url("Logos/AFE color.png");
	display: inline;

}

.search-all{
	-webkit-filter: grayscale(100%);
}

.logos{ 
	margin-left: 250px;
	margin-top: 50px;
}


